hostname {{hostname}}
{% if hostname.find('.') > 0 %}
ip domain name {{ hostname.partition('.')[2] }}
{% endif %}
{% set host = hostname.partition('.')[0] %}
{% set num  = host.partition('-')[2] | int %}
{% if num %}
router ospf {{ 100 + num }}
{% endif %} 
